            html {
                scroll-behavior: smooth;
            }
            
            body {
                background-image: url();
                margin: 20px;
                padding: 0;
            }
            
            .navi {
                line-height: 30px;
                float: right;
            }
            
            #spantext {
                color: black;
            }
            
            #exc {
                color: orangered;
            }