            html {
                scroll-behavior: smooth;
            }
            
            body {
                background-image: url();
                margin: 20px;
                padding: 0;
            }
            
            .h1 {
                text-align: center;
            }
            
            .navi {
                line-height: 30px;
                float: right;
            }
            
            .spantext {
                color: black;
            }
            
            .exc {
                color: orangered;
            }
            
            div.landing {
                background-image: url();
                padding: 20px;
            }